---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Layout from "./Layout.astro";
import Comments from "@/components/Comments"; // 导入 Comments 组件
import { SITE } from "@/config"; // 导入 SITE 配置

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header />
  <Breadcrumb />
  <main id="main-content">
    <section id="task" class="prose mb-12 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">{frontmatter.title}</h1>
      <slot />
    </section>
    
    <!-- 添加 Giscus 评论区 -->
    <section class="max-w-3xl mx-auto mb-16">
      <hr class="my-8 border-dashed" />
      <Comments client:only="react" />
    </section>
  </main>
  <Footer />
</Layout>